<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <%- include ./partial/header.ejs %>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <%- include ./partial/sidebar.ejs %>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <%- include ./partial/topbar.ejs %>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">傳送訊息</h1>
                    <!--                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i-->
                    <!--                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
                </div>


                <div class="row">

                    <div class="col-lg-10">


                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">送出活動訊息</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-10">

                                        <textarea class="form-control" rows="6" id="textarea_message"></textarea>
                                    </div>
                                    <div class="col-lg-2">
                                        <a class="btn btn-primary btn-icon-split cc_pointer" onclick="javascript:sendMsg()">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                            <span class="text cc_pointer">送出</span>
                                        </a></div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>


                <div class="row">

                    <div class="col-lg-10">


                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">訊息範本</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-lg-10">
                                        1. 會員獨家限定【開幕首 10 天】來店消費
                                        享 7 折，出示此電子券即享優惠！ https://example.com/
                                    </div>
                                    <br>
                                    <br>

                                    <div class="col-lg-10">
                                        2. 輸入優惠碼獲得購物金，『2021最優惠』https://example.com/
                                    </div>
                                    <br>
                                    <br>

                                    <div class="col-lg-10">
                                        3. 你的超集神助手今天LINE了!!!
                                        2021年最新日誌本/桌曆集點活動開跑!
                                        邀請粉絲們一同共度未來一年
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include ./partial/footer.ejs %>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<%- include ./partial/footer2.ejs %>


<%- include ./partial/script.ejs %>

<script src = "./js/manage/LineSendMsg.js"></script>

</body>

</html>